/* Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  color: rgb(95, 99, 104);
  font-size: 2em;
  line-height: 1.5;
  margin: 5%;
  min-width: 500;  /* Wrap content to screen on mobile. */
  text-align: start;
  width: 90%;
}

a {
  color: rgb(25, 103, 210);
  text-decoration: none;
}

img {
  height: auto;
  margin-top: 2em;
  width: 15%;
}

#main-message,
#unmanaged-info {
  color: black;
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 2em;
}

.hidden {
  display: none;
}
