<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>${CHROMIUM_BUNDLE_ID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${CHROMIUM_SHORT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>${CHROMIUM_CREATOR}</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>scripting.sdef</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9.0</string>
	<key>NSPrincipalClass</key>
	<string>BrowserCrApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NWJS Extra</string>
			<key>UTTypeIdentifier</key>
			<string>io.nwjs.nw.package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nw</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
</dict>
</plist>
